/* Custom panel positioning styles */
.waf-img{
  background-repeat: no-repeat;
}
#radiogroup-data-align {
  border: 1px solid gray;
  overflow: auto;
  zoom: 1;
  display: inline-block;
}
#radiogroup-data-align li {
  float: left;
  margin-left: 1rem;
  margin-top: 1rem;
  width: 1rem !important;
  height: 1rem !important;
}
#radiogroup-data-align li:nth-child(3n+1) {
  clear: both;
  margin-left: 0;
}
#radiogroup-data-align li:nth-child(1), 
#radiogroup-data-align li:nth-child(2), 
#radiogroup-data-align li:nth-child(3) {
  margin-top: 0;
}
#radiogroup-data-align li input[type=radio] {
  -webkit-appearance: none;
  background-color: gray;
  width: 1rem !important;
  height: 1rem !important;
  content: '';
  display: block;
  margin: 0;
  outline: none;
  -webkit-border-radius: 0;
  border: none;
}
#radiogroup-data-align li input[type=radio]:checked {
  background-color: black;
}
#radiogroup-data-align li label {
  display: none;
}