/* Custom panel positioning styles */
.waf-img{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
}

.waf-img.scale-auto {
    background-size: auto;
}
.waf-img.scale-cover {
    background-size: cover;
}
.waf-img.align-top-left {
    background-position: top left;
}
.waf-img.align-top-center {
    background-position: top center;
}
.waf-img.align-top-right {
    background-position: top right;
}
.waf-img.align-center-left {
    background-position: center left;
}
.waf-img.align-center-center {
    background-position: center center;
}
.waf-img.align-center-right {
    background-position: center right;
}
.waf-img.align-bottom-left {
    background-position: bottom left;
}
.waf-img.align-bottom-center {
    background-position: bottom center;
}
.waf-img.align-bottom-right {
    background-position: bottom right;
}
